
html {
    font-size:100%
}

p {
    width: 70vw;
    
}

header p{
    float: right;
    font-size: 25pt;
}

aside {
    width:30vw;
    height:49vh;
    float: right;
    background-color: gray;
}

nav{
    padding: 1rem;
    background-color: black;
}

nav ul li {
    display: inline;
    float:space-between;
}

nav ul li a {
    color: white;
}

img{
    max-width: 100%;
    height:auto
}

table, td, th{
    border:1px solid black;
    min-width: 6rem;
    text-align:center;
}